@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.rssApp {
  width: 100%;
  background-color: #eaeaea;
  padding: 30px;

  .itemContainer {
    width: 100%;

    .title {
      font-size: 28px;
      color: red;
    }

    .desc {
      font-size: 18px;
      color: #333;
    }
  }
}
